body {
	
	padding:0px;
	margin:0px;
            background: #edece8 url(../images/body_bg.gif); 
}

.linktree {
    margin-bottom: 10px;
    margin-left: -30px;
    margin-top: 10px;
}

.linktree a {
    color: #666666;
    font-size: 11px;
    text-decoration: none;
}

.heading {
	float: right;
	padding-left: 14px;
	padding-right: 0px;
	padding-top:2px;
	background:#bc9d71;
 	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #888;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444), color-stop(1, #bc9d71) );
	background:-moz-linear-gradient( center top, #444 5%, #bc9d71 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #111;
	position: relative;
	right: -75px;
	top: -20px;
	z-index: 1;
	padding-bottom:7px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	font-weight:bold;
	font-size:12px;
 

	
}

.heading a {
	color: #e7e7e7;
	text-decoration: none;
	text-shadow: 0 1px #111;
}
.heading a span {
	background:  url('images/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
		
}
/* main.html */
.menu {
	top:0;
	background:#7f675b;
	margin: 0 auto;
	border-bottom: solid 3px #bc9d71;


}
.menu .logo{
	width: 100px;
	height: 100px;
	background: url(../images/logo.png) no-repeat top center;
	position: relative;
	top: -25px;
	left: 20px;
	float:left;
}
.menu ul {
	padding:15px;
	padding-bottom:10px;
	border-radius:3px;
	background:#666;
	margin: 0 auto;
             width:1100px;
            background: #7f675b;
 	overflow:hidden;

}

.menu ul li {
	color:#fff;
	list-style:none;
	float:left;
	font-size:12px;
	padding-top:15px;
}
.menu ul li a {

	color:#eee;
	text-decoration:none;
	padding:32px 23px;
	cursor:pointer;
	border-top:none;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
	/* background: url(images/menu_separator.png) repeat-y left; */

}
.menu ul li a.home {
	background: url(../images/home.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}
.menu ul li a.goods{
	background: url(../images/goods.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}
.menu ul li a.cart {
	background:url(../images/cart.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
}
.menu ul li a.orderInfo {
	background:url(../images/order.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
}
.menu ul li a.userInfo {
	background:url(../images/user.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
}
.menu ul li a.login {
	background:url(../images/login.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}

.menu ul li a.register {
	background:url(../images/register.png) no-repeat top center;
	border-right: dotted 1px #5a5957;
	border-left: dotted 1px #5a5957;
}
.menu ul li a:hover {
	color:#ccc;
	background-color:#333;
}
.menu ul li.active a{ 
    	color:#fff;
	background-color:#bc9d71;	

}



.container {
	width:98%;
	min-height:300px;
	margin:0 auto;
	overflow:hidden;
	padding:10px;
	padding-top:14px;
	padding-left:12px;
	margin-top:30px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
     background: #edece8 url(../images/featured_bg.gif); 

    border: 1px solid #c6c6c3;
    box-shadow: 1px 1px 1px #FFFFFF inset;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding: 12px 12px 5px;
    text-shadow: 0 1px #FFFFFF;
}



.text_box_left {
	padding:6px;
	padding-left:12px;
	background:#eee;
	border-bottom: solid 1px #ccc;
	width:100%;
	margin-top:-5px;
	margin-left: -12px;
	margin-bottom:5px;
	
}
.text_box_left a{
	text-decoration: none;
	color: gray;
	margin-left: 20px;
}

/* box products */
.box-product {
	width: 100%;
	overflow: hidden;
	
}


.box-product > div {
	width: 135px;
	display: inline-block;
	vertical-align: top;
	margin-right: 90px;
	margin-left: 30px;
	margin-top:10px;

}

.box-product > div:first-child {
	border-left:none;
}
.box-product .image {
	display: block;
	padding:10px;
	width: 195px;


}



.box-product .image img {	
 	background: #fff;
    	border: 1px solid #efefef;
    	border-collapse: separate;
	width: 190px;
	margin-bottom:-4px;
	padding:2px;
	padding-bottom:30px;
	border:1px solid #abaaa6;
	background:#fff;
	display:block;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.box-product .name a {
	color: #555;
	font-size: 14px;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	display: block;
	border-bottom:solid 1px #ccc;
	padding:10px;
	padding-left:5px;
	margin-top:4px;
	font-weight:bold;
}

.box-product .name a:hover {
	background:none;
}


.box-product .priced ul {
	overflow:hidden;
    margin-top:-77px;
	background:#555;
	margin-left:3px;
	width:190px;
	color:#fff;
	position:absolute;

}

.box-product .priced ul li:first-child{
	background:#7f675b;
    position:relative;
    margin-left: -1px;
}

.box-product .priced ul li{
	padding:2px;
	padding-left:7px;
	padding-right:7px;
	border-left: solid 1px #444;
	float:left; 
	list-style:none;
	font-size:11px;
	font-weight:bold;
	text-shadow:none;
}

.box-product .priced ul li a{	
	color:#ccc;
	text-decoration:none;
}

.box-product .priced ul li a:hover{
	color:#fff;
}	




.showme{ 
	display: none;
}
.showhim:hover .showme{
	display : block;
}

.description_featured {
	padding:8px;
	margin-top:-218px;
    	font-size: 12px;
	color: #626A76;   
    	line-height: 20px;
	background:#eee;	
	height:174px;
	width:176px;
	index-z:99;
	position:absolute;
	margin-left:2px;

}

/* goods.html */
.categoryForGoods ul{
	  border-bottom:#7f675b solid 2px;
	  padding-bottom:50px;
	  width:100%;
	  
  }
  .categoryForGoods li{
	 
	  font-size:14px;
	  margin-bottom:16px
 }
 .categoryForGoods li b{
	  color: black;
	  font-weight:550;
}
 .text_box_left .find{
           float: right;
 }	
 .text_box_left .find img{
           width: 20px;
           position: relative;
           top:5px;
           left:-5px;
 }	  
.categoryForGoods li a{
	          
              margin-right: 25px;
              color: black;
	 opacity:0.7;
 }

 .pages{
 	width:85%;
 	margin-left: 80px;
 	padding:10px;
 	padding-right: 100px;
 	
 }
 .pages div:first-child{
           float: left;
 }
 .pages div:last-child{
           float: right;

 }
 .selectPage {
   text-decoration: none;
 }
 
 .showhim img{
    width:190px;
    height:190px;
 }
 
 
 /* cart.html */
 /* cart */


.cart-info table {
	width: 85%;
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-collapse: collapse;

}
.cart-info td {    	
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding:3px;

	padding: 7px;
}
.cart-info td a{
	color:#444;
	line-height:19px;
	text-decoration:none;
	font-weight:bold;
	text-shadow: 0 1px #fff;
	padding:3px;
} 


.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
/* orderCommit.html */
.order-info-all{
           width: 85%;
           margin-left: 100px;

}
.order-info-allh3{
           font-size: large;
}
.order-info-all .headLine div{
	width: 150px;
	text-align: center;
             font-weight:100;
             font-size: small;
	margin-left: 10px;
	border-bottom: solid 3px lightblue; 
             float: left;
}
.order-info-all .headLine div:first-child{
	width: 300px;
	margin-left: 100px
}
.order-info{
	width:85%;
	margin-left: 100px;
	margin-top: 50px;

	
}
.order-info .crop{
	width: 95%;
	border-bottom: dashed 1px lightblue;
	font-weight:100;
             font-size: small;
}
.order-info .orderItem {
	margin-top: 5px
}
.order-info .orderItem div{
	  width: 150px;
	  margin-left: 10px;
	  height:100px;
               float: left;
               background-color: red;
               text-align: center;
               line-height: 100px;

}
.order-info .orderItem div:first-child{
	margin-left: 0px;
	width: 300px;
}

.order-info .way{
	width:85%;
}
.order-info .feeToCrop{
	
	float: right;
	
}
.order-info-all .orderSubmit{
	width: 100%;
             position: relative;
             float: right;
             text-align: right;
             left: -120px;
             top: 20px;
	
}
/* order.html */
.orderForUser{
	margin-left:60px;
}
.orderForUser .headLine{
             width: 1000px;
             height: 50px;
             position: relative;
             left: -50px;
  }
.orderForUser .headLine ul li{
	color:#fff;
	list-style:none;
	float:left;
	font-size:25px;
	padding-top:15px;
	padding-right: 10px;
	padding-left: 10px;
             border-right: solid 1px red; 
}
.orderForUser .headLine ul li a{
	text-decoration: none;

}
.orderForUser .orderInfo {
              height: 200px;
              width: 1000px;
              border: solid 1px red;
              margin-top: 20px;
}
.orderForUser .orderInfo .first {
             width: 1000px;
             height: 50px;
             line-height: 50px;
}
.orderForUser .orderInfo .info >div{
            float: left; 
 }
.orderForUser .orderInfo .info .img{
             width: 600px;
             height: 150px;
	background-color: green;
}
.orderForUser .orderInfo .info .totalPrice{
             width: 100px;
             height: 150px;
	background-color: red;
}
.orderForUser .orderInfo .info .state{
             width: 100px;
             height: 150px;
             background-color: blue;

}
.orderForUser .orderInfo .info .evaluate{
             width: 200px;
             height: 150px;
             background-color: yellow;

}
/* user.html */
.user-info{
	width: 650px;
	/* margin:0 auto; */
	margin-left: 350px
}
.user-info >a{
   	text-decoration:none;
	 color:lightblue
}
.user-info >div{
     width: 250px;
     text-align: right;
     float: left;
}
.user-info >img{
     width: 125px;
     position: relative;
     bottom :125px;
}
.user-info >input{
     width: 150px;
     text-align: right;
     float: left;
}
.decorationBlock{
	width: 650px;
	font-size: 120%;
	background-color:#e1dfdf;
	margin:10px auto;
    margin-left: 300px
}
.setPosition{
	  position: relative;
   	/*   bottom :100px; */
}
.updateImg{
	
	margin:0 auto;
	
	position: absolute;
	top: 185px;
	/* left: 355px; */
	left: 415px;
}
.updateImg img{
	 width: 125px;
	 border:2px solid white;
	 height:140px;
}
.updateImg a{
	 position: relative;
	 font-size:16px;
	 right: 100px;
	 bottom: 5px;
	 text-decoration:none;
	 color:lightblue
}
.saveImgBtn{
	position: absolute;
	font-size:16px;
	top: 305px;
	left: 445px;
	text-decoration:none;
	color:lightblue
}
.left_option {
    margin-top: 10px;
    float: left;
    width: 200px;
    background: #ffffff;
}
.left_option dl {
    background: #e8e8e8;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ffffff; 
    text-align: center;
}
.left_option dl.catalog {
    background: #e1dfdf;
}

/*userSign.html  */


.sign-info{
	
}
.sign-info table {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 20px;
	border-collapse: collapse;

}
.sign-info td {    	
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding:3px;
	padding: 7px;
}
.sign-info td a{
	color:#444;
	line-height:19px;
	text-decoration:none;
	font-weight:bold;
	text-shadow: 0 1px #fff;
	padding:3px;
} 


.sign-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #e1dfdf;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
}
.sign-info thead .remove, .sign-info thead .image {
	text-align: center;
}
.sign-info thead .name, .sign-info thead .model {
	text-align: left;
}
.sign-info thead .quantity, .sign-info thead .price, .sign-info thead .total {
	text-align: right;
}
.sign-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.sign-info tbody .remove {
	vertical-align: middle;
}
.sign-info tbody .remove, .sign-info tbody .image {
	text-align: center;
}
.sign-info tbody .name, .sign-info tbody .model {
	text-align: left;
}
.sign-info tbody .quantity, .sign-info tbody .price, .sign-info tbody .total {
	text-align: right;
}
.sign-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}


/* detailOfGoods.jsp */
#container_bg {

	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom:-100px;
	padding-left:5px;
	padding-right:5px;
	padding-top:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding-top:17px;
	margin-top:10px;
	
}

.product-info {
	overflow: auto;
	margin-bottom: 20px;
	padding: 5px;
}
.product-info > .left {
	float: left;
	width: 480px;
             position: relative;	
}
.product-info > .right {
	margin-left: 480px;
             
}


.product-info .image {
	padding:3px;
	float: left;
	margin: -1px;
	margin-bottom: 12px;
	text-align: center;
	
}
.product-info .image img {display: block; width: 450px;height: 600px}
.product-info .image-additional {
	width: 257px;
	margin-left: -15px;
	padding-top: 2px;
	clear: both;
	overflow: hidden;

}
.product-info .image-additional img {display: block;}

.product-info .image-additional a {
	border: 1px solid #ededed;
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
   	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.02);
	margin: -1px;
	float: left;
	display: block;
	margin-left: 20px;
	margin-bottom: 14px;
	
	background:#fff;
}
.product-info .image-additional a:hover {

	opacity:0.6;
}

.product-info .image-additional a:hover img {border-radius: 3px;}

.product-info .description {
	border-bottom: 1px solid #e7e7e7;
	padding: 2px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #025881;
	font-weight:bold;
	line-height:25px;
}
.product-info .description span {color: #333;}
.product-info .description a {color: #025881;text-decoration:none;font-weight:bold;}

.product-info .price {
	overflow: auto;

	padding: 0px 10px 10px 10px;
	font-size: 12px;
	color: #333333;background:none;
}
.product-info .price-old {
	color: #cc2929;
	text-decoration: line-through;
	font: 16px;
}
.product-info .price-new {
	font: 20px;
	color: #5c94cc;	
	font-weight:bold;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
	margin-top:-10px;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart .quantity {
	width: 40px;
	text-align: center;
}
.product-info .cart .wishlist,
.product-info .cart .compare {
	color: #444;
	cursor: pointer;
	background: url('images/plus.png') 0px center no-repeat;	
	padding-left: 10px;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4d4d4d;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #e7e7e7;
	line-height: 20px;
}
.product-info .review > div > span {color: #38B0E3;}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}

.product-info .review > div a {
	color:#444;
	text-decoration:none;
}
.product-info .review .share a {text-decoration: none;}



.tabs {
	display: block;
	height: 36px;
	background: #fafafa;
	border: 1px solid #ccc;

	margin-bottom: 0px;
	border-radius: 3px;
             position: relative;


}

.tabs a {
	float: left;
	padding: 0px 10px;
	height: 35px;
	font: 14px;
	line-height: 28px;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	cursor: pointer;
	color: #444;
	font-weight:bold;
	text-decoration:none;
	line-height:35px;

}

.tabs a.selected {
	height:34px;
	position: relative;
	line-height: 35px;
	top: 0px;
	border: solid 1px #ccc;
	padding: 0px 11px;
	margin-left: -1px;
	margin-right: -1px;
	-moz-box-shadow: 0px -1px 0px #f5f5f5;
   	-webkit-box-shadow: 0px -1px 0px #f5f5f5;
	box-shadow: 0px -1px 0px #f5f5f5;
	background: #eee;
	text-decoration: none;
	border-top: solid 2px #ff6619;

}
.tabs a + a.selected {margin-left: -2px;}
.tabs a:hover {
	color: #ff6619;	
	text-decoration: none;
}

.product-info .cart .wishlist, .product-info .cart .compare {
	text-decoration:none;
	color:#555;
}
a.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #337fed;  
	font-weight: bold;
    height:20px;
    padding: 4px;
    text-align: center;
    width:100px;
    margin-right:-0px;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: arial;
    text-decoration: none;
    text-shadow: 1px 1px 0 #1570CD;
	line-height:20px;

}
}
a.button span {
	color: #eee;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	text-shadow: 0 1px 0 #111;
	line-height:6px;
}
.tab-content {
    background-color: #fff;
    border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;   
	color: #333;
    font-size: 12px;
    line-height: 1.9;
    height: 700px

}
.messageDiv{
	width:100%;
	border-bottom:1px solid #BBBBBB;
	padding:6px 0px;
	
}
.dateTag{
	float:right;
}
.evaluate{
	width:550px;
}
.lineItem{
	width:100%;
}
.lineItemEvaluate{
	width:100%;
	border-top:1px solid gray
}
/*userGoods.jsp*/
.ownGoods-info table {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 20px;
	border-collapse: collapse;

}
.ownGoods-info td {    	
	background-color: #F4F4F4;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;	
	padding:3px;
	padding: 7px;
}
.ownGoods-info td a{
	color:#444;
	line-height:19px;
	text-decoration:none;
	font-weight:bold;
	text-shadow: 0 1px #fff;
	padding:3px;
} 


.ownGoods-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #e1dfdf;
    	border: 1px solid #BBBBBB;
	box-shadow: 1px 1px 1px #FFFFFF inset;
}
.ownGoods-info thead .remove, .sign-info thead .image {
	text-align: center;
}
.ownGoods-info thead .name, .sign-info thead .model {
	text-align: left;
}
.ownGoods-info thead .quantity, .sign-info thead .price, .sign-info thead .total {
	text-align: right;
}
.ownGoods-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.ownGoods-info tbody .remove {
	vertical-align: middle;
}
.ownGoods-info tbody .remove, .sign-info tbody .image {
	text-align: center;
}
.ownGoods-info tbody .name, .sign-info tbody .model {
	text-align: left;
}
.ownGoods-info tbody .quantity, .sign-info tbody .price, .sign-info tbody .total {
	text-align: right;
}
.ownGoods-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}


/*userAddGoods.jsp*/
.goodsTypeSelect{
	width:180px;
	height:40px;
	font-size:20px;
	position:absolute;
	left:728px;
	top:340px;
}