<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.ncu.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="used_month" property="usedMonth" jdbcType="INTEGER" />
    <result column="publish_date" property="publishDate" jdbcType="DATE" />
    <result column="goods_state" property="goodsState" jdbcType="INTEGER" />
    <result column="audit_state" property="auditState" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="failure_text" property="failureText" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ncu.pojo.Goods" extends="BaseResultMap" >
    <result column="introduced_text" property="introducedText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, picture, quantity, price, used_month, publish_date, goods_state, audit_state, 
    user_id, category_id, failure_text
  </sql>
  <sql id="Blob_Column_List" >
    introduced_text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ncu.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != null and pageSize != 0">
   	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ncu.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != null and pageSize != 0">
   	 limit #{startRow},#{pageSize}
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncu.pojo.GoodsExample" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncu.pojo.Goods" >
    insert into goods (id, name, picture, 
      quantity, price, used_month, 
      publish_date, goods_state, audit_state, 
      user_id, category_id, failure_text, 
      introduced_text)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{usedMonth,jdbcType=INTEGER}, 
      #{publishDate,jdbcType=DATE}, #{goodsState,jdbcType=INTEGER}, #{auditState,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{failureText,jdbcType=VARCHAR}, 
      #{introducedText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.pojo.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="usedMonth != null" >
        used_month,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="goodsState != null" >
        goods_state,
      </if>
      <if test="auditState != null" >
        audit_state,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="failureText != null" >
        failure_text,
      </if>
      <if test="introducedText != null" >
        introduced_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="usedMonth != null" >
        #{usedMonth,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="goodsState != null" >
        #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="failureText != null" >
        #{failureText,jdbcType=VARCHAR},
      </if>
      <if test="introducedText != null" >
        #{introducedText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncu.pojo.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.usedMonth != null" >
        used_month = #{record.usedMonth,jdbcType=INTEGER},
      </if>
      <if test="record.publishDate != null" >
        publish_date = #{record.publishDate,jdbcType=DATE},
      </if>
      <if test="record.goodsState != null" >
        goods_state = #{record.goodsState,jdbcType=INTEGER},
      </if>
      <if test="record.auditState != null" >
        audit_state = #{record.auditState,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.failureText != null" >
        failure_text = #{record.failureText,jdbcType=VARCHAR},
      </if>
      <if test="record.introducedText != null" >
        introduced_text = #{record.introducedText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      used_month = #{record.usedMonth,jdbcType=INTEGER},
      publish_date = #{record.publishDate,jdbcType=DATE},
      goods_state = #{record.goodsState,jdbcType=INTEGER},
      audit_state = #{record.auditState,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      failure_text = #{record.failureText,jdbcType=VARCHAR},
      introduced_text = #{record.introducedText,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      used_month = #{record.usedMonth,jdbcType=INTEGER},
      publish_date = #{record.publishDate,jdbcType=DATE},
      goods_state = #{record.goodsState,jdbcType=INTEGER},
      audit_state = #{record.auditState,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      failure_text = #{record.failureText,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.pojo.Goods" >
    update goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="usedMonth != null" >
        used_month = #{usedMonth,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="goodsState != null" >
        goods_state = #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="auditState != null" >
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="failureText != null" >
        failure_text = #{failureText,jdbcType=VARCHAR},
      </if>
      <if test="introducedText != null" >
        introduced_text = #{introducedText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ncu.pojo.Goods" >
    update goods
    set name = #{name,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      used_month = #{usedMonth,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      goods_state = #{goodsState,jdbcType=INTEGER},
      audit_state = #{auditState,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      failure_text = #{failureText,jdbcType=VARCHAR},
      introduced_text = #{introducedText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.pojo.Goods" >
    update goods
    set name = #{name,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      used_month = #{usedMonth,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      goods_state = #{goodsState,jdbcType=INTEGER},
      audit_state = #{auditState,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      failure_text = #{failureText,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>